In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Rikitea,-23.1203,-134.9692,72.93,86,77,17.02,PF,2021-10-31 23:23:10
1,1,Rocha,-34.4833,-54.3333,63.36,98,93,6.24,UY,2021-10-31 23:28:01
2,2,Naze,28.3667,129.4833,67.12,79,95,14.97,JP,2021-10-31 23:28:02
3,3,Hobart,-42.8794,147.3294,60.03,58,75,3.00,AU,2021-10-31 23:27:04
4,4,Hithadhoo,-0.6000,73.0833,82.33,76,100,18.79,MV,2021-10-31 23:28:03

In [14]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [15]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [20]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
4,4,Hithadhoo,-0.6000,73.0833,82.33,76,100,18.79,MV,2021-10-31 23:28:03
7,7,Kapaa,22.0752,-159.3190,83.12,75,20,3.00,US,2021-10-31 23:28:04
17,17,Coronado,32.6859,-117.1831,77.09,72,40,6.91,US,2021-10-31 23:28:09
20,20,Cabo San Lucas,22.8909,-109.9124,85.60,70,75,5.99,MX,2021-10-31 23:25:07
40,40,Katobu,-4.9408,122.5276,79.34,86,83,2.57,ID,2021-10-31 23:28:19
49,49,Chake Chake,-5.2459,39.7666,76.75,87,10,8.70,TZ,2021-10-31 23:29:24
51,51,Butaritari,3.0707,172.7902,81.32,77,29,10.00,KI,2021-10-31 23:29:24
52,52,Hirara,24.8000,125.2833,76.86,78,20,4.61,JP,2021-10-31 23:29:25
53,53,Auki,-8.7676,160.7034,81.90,77,85,4.47,SB,2021-10-31 23:29:25
57,57,Hilo,19.7297,-155.0900,82.13,75,1,8.05,US,2021-10-31 23:29:27

In [26]:
preferred_cities_df.count()

City_ID       153
City          153
Lat           153
Lng           153
Max Temp      153
Humidity      153
Cloudiness    153
Wind Speed    153
Country       153
Date          153
dtype: int64

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
4        Hithadhoo      MV     82.33  -0.6000   73.0833
7            Kapaa      US     83.12  22.0752 -159.3190
17        Coronado      US     77.09  32.6859 -117.1831
20  Cabo San Lucas      MX     85.60  22.8909 -109.9124
40          Katobu      ID     79.34  -4.9408  122.5276
49     Chake Chake      TZ     76.75  -5.2459   39.7666
51      Butaritari      KI     81.32   3.0707  172.7902
52          Hirara      JP     76.86  24.8000  125.2833
53            Auki      SB     81.90  -8.7676  160.7034
57            Hilo      US     82.13  19.7297 -155.0900

In [ ]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [ ]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
    print("Hotel not found... skipping.")

In [43]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""